@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html{
  scroll-behavior: smooth;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Recursive';
  src: url('https://fonts.gstatic.com/s/recursive/v25/0nksC9ziJOYew_FByXYu6Q.woff2') format('woff2');
  font-weight: 300 1000;
  font-style: normal;
  font-display: swap;
}

.jello-text {
  font-family: 'Recursive', sans-serif;
  font-size: 6rem;
  --x: 0px;
  --y: 0px;
  transition: font-variation-settings 0.2s ease-in-out;
}

body {
  /* cursor: url("data:image/svg+xml,%3Csvg width='64px' height='64px' xmlns='http://www.w3.org/2000/svg' ...") 32 32, pointer; */
  /* background: var(--background);
  color: var(--foreground); */
  font-family: 'Clash Grotesk', sans-serif;
  background-color: rgb(18, 18, 18);
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

.heading{
  font-weight: bolder;
  font-size: 20em;
  line-height: 18rem;
}

.BgImage{
  background-image: url('/pattern.png');
  /* background-color: aqua; */
  /* opacity: 10%; */
}


/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}

.rotate-text-circle {
  width: 100%;
  white-space: nowrap;
  transform: rotate(0deg);
  animation: none;
}


